h1{
text-align:center;
}
p{
text-align:center; 
font-size:20px
}
a{
font-size:20px;
color:white;
padding:15px 35px 15px 35px;
background-color:blue;
}
div{
text-align:center;
}
ul{
li{
font:bold;
}}